name: Stable APK Builder

on:
  workflow_dispatch:

jobs:
  build_and_upload:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: '25'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: true

      - name: Verify Keystore
        run: |
          if [ -z "${{ secrets.SIGNING_KEY_STORE_BASE64 }}" ]; then
            echo "ERROR: SIGNING_KEY_STORE_BASE64 secret is missing"
            exit 1
          fi

      - name: Setup Signing Keys
        run: |
          mkdir -p keystore
          echo "${{ secrets.SIGNING_KEY_STORE_BASE64 }}" | base64 --decode > keystore/carlyu.jks
          cat > keystore.properties <<EOF
          storeFile=keystore/carlyu.jks
          keyAlias=${{ secrets.SIGNING_KEY_ALIAS }}
          keyPassword=${{ secrets.SIGNING_KEY_PASSWORD }}
          storePassword=${{ secrets.SIGNING_STORE_PASSWORD }}
          EOF

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Update versionName format
        id: version
        run: |
          # 读取 BASE_VERSION
          BASE_VERSION=$(./gradlew -q properties | grep '^BASE_VERSION:' | awk '{print $2}')
          echo "BASE_VERSION=$BASE_VERSION"

          # 拆分 A.B.C
          A=$(echo $BASE_VERSION | cut -d. -f1)
          B=$(echo $BASE_VERSION | cut -d. -f2)
          C=$(echo $BASE_VERSION | cut -d. -f3)

          # 自增 patch
          C_NEW=$((C + 1))

          # 获取短 commit SHA
          SHORT_SHA=$(git rev-parse --short HEAD)

          # 拼接新 versionName
          NEW_VERSION="${A}.${B}.${C_NEW}.${SHORT_SHA}"
          echo "Generated Version: $NEW_VERSION"

          # 导出环境变量
          echo "NEW_VERSION=$NEW_VERSION" >> $GITHUB_ENV
          echo "VERSION_NAME=$NEW_VERSION" >> $GITHUB_ENV

      - name: Build Online Stable Release APK
        env:
          VERSION_NAME: ${{ env.VERSION_NAME }}
        run: ./gradlew assembleOnlineStableRelease -PversionName=${VERSION_NAME} -PAPP_ID=com.android.packageinstaller

      - name: Upload Online Stable APK as Artifact
        uses: actions/upload-artifact@v4
        with:
          # 用版本号 + run_number 命名，保证每次唯一
          name: online-apk-${{ env.NEW_VERSION }}-${{ github.run_number }}
          path: app/build/outputs/apk/onlineStable/release/*.apk
          retention-days: 15
